html {
    font-family: system-ui, sans-serif, 'Helvetica Neue';
    font-size: 18px;
}


body {
    margin: 0;
    padding: 0;
}


header > * {
    margin: 16px;
}


.hero-sec > img {
    width: 220px;
}


.resumo {
    width: 540px;
}


header,
nav,
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    color: white;
}


nav {
    justify-content: space-between;
    align-items: center;
    padding: 10px 48px 0px 48px;
    height: 56px;
}


li, a {
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 6px;
}



main {
    width: 800px;
    margin: auto;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.sobre {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-grow: 1;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.199);
    border-radius: 12px;
    margin: 24px;
    max-width: 360px;
}


.sobre > a > img {
    border-radius: 12px;
    max-width: 320px;
}

.sobre > a > p{
    text-align: center;
    font-size: 1.2rem;
    color: black;
    margin: 8px;
}


footer {
    margin: 80px 0 0 0;
}


footer > p {
    background-color: burlywood;
    text-align: center;
    margin: 0;
    padding: 16px;
}


footer > p > a {
    background-color: white;
    color: rgb(38, 138, 204);
    border-radius: 4px;
    padding: 2px 4px;
}